.bg-common
{
    background-color: #AB0C2F;
}
.navbar-nav li
{
  padding-left: 20px;
  padding-right: 30px;
}
.gap{
  padding-top: 80px;
  padding-bottom: 80px;
}
.text-justify{
  text-align: justify;
}
.odd
{
  background-color: #ca6262;
}
.border-white
{
  border: 2px solid #fff;
}